[submodule "sceneid3lib-php"]
	path = sceneid3lib-php
	url = https://github.com/sceneorg/sceneid3lib-php.git
[submodule "calendarview"]
	path = calendarview
	url = https://github.com/Gargaj/calendarview.git
