@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  background: white;
  color: #2d2d2d;
  font-family: "Roboto", Arial, sans-serif;
}
input, textarea, select {
  font-family: "Roboto", Arial, sans-serif;
}
a {
  color: red;
}
header {
  width: 950px;
  margin: 0 auto;
  position: relative;
  height: 85px;
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAADUAAAAyCAYAAAD845PIAAAGwElEQVR4Xs2ZcUxUdRzAPz9PL4+o\
    I+iKwqVZaeLITHepWhSmQVIO1VmCpulyOG2rls5VucjW0rm1NMwW6QKMUqUKBJkiFGUxaDhSpJFt\
    lkmaCIaenbt+XfuNvXm893znu44+29v9x+7D537f+753QtKLRCAdcACNQBN9ixsYAwSAOvWqgext\
    0B8NF7AeyOVSSoElwCnCxwt4gHKujBfVhQtFAPgcWAW0YkA/TYgaHSGALJ+Lb4FYwiMR2AVsUfXD\
    Zj2wBnCh4QCygAYg9XJSHwJeDHD5GLopl3oh8WANpxIiCfB0xPPF1ed4FOtMAZ7DmNiz17IndxMT\
    jaTSgFmYw6Q6RuBzfSukpWL5wHgUxHcw9qU1lAhpudiLmMO1Z7kqs4wagUjVk5qHBVKaITbgG8qm\
    3HqBNCuWCywihBVrickqjK0VMecuV8wDpGKB9Er63/DTNVUi992JoVLJWCT5MASTjQBqBFKv2GPA\
    BnRwBGDL8u5hdy1+5hOBNCuWhkUcAbjt5J9OMstqhCBVk4IuLOKt70nWnazzmU8BigEHBri7YPfO\
    goFDHsnfK5AO9JlEGJzyQDBZf278facQJCqpMMbtvEItWcg5TAIqrEzIpONQfnT5yFH3b9hqMGCy\
    sEjjGGi7XSVj6NEEYHOP1HtAs9VSb6zqSUaK+giSBjQoMWskH/mbypZnc/KHPPIWGl5gn9W/43PB\
    ks2hyZgmBB4hAcB9cBT7Rx1kNBZoGhZD/Y85zGRnfQKnvUSZ5hSY/yE03a0lY2wDCib0SCEkrpwi\
    WmZvZ3B6JTj9/G84nKzed/DiwHio94Yku+8rJaa4Q0lpYm4OjtrvHHFw9PgDkFoLyzaC5xR9Qt0k\
    WPw+tA63moxGKRmrpDQQSBc5RS3M3j6YYLLhP/s5NFKdxeih3ue934HfaTUZPuA+KWlUUr3F3MBm\
    nP45BJPt+j2XrCMtRJPJ+6A6zWoymoH5UtIEoEnpy2UBC95k5bQVrHUQRUYeUmH0k3EYaFQXB6Sk\
    Hg1NyowAjg8cBBYSRVa/CnmvhCajDlgsEa1m91P9uDyeoNAMoswreWpQ0Z6IgiZgsiakEa6UEygG\
    3EQZRwCqpkLukJUoeF4i/AB2pFzAdmAKfYTTD/m7yyi+YQoT+fosgB2peKBCbd19z9yTeymJS98P\
    DL9SqRTgOyAV+9ARDwWL1FqTXQzvPQ0BB2EzqLM71jdQHDrl4Sl0MJt+C4B8wIV9qEyHhVvUWQ+5\
    i6bkcbWxh8usrbGdO5/sHicFrZebfrHAFnVFRmjbXMioUEKhyeo2FTP9yRlhFlMjPigUx4WBP4iT\
    nqfMSt0CVAHDiRBtt6svT7/TPFnJ9Q8x5499WKF8GmSWofF4yXE+njNZSlr1Sh0DaiP7xamE9JPR\
    ARQA8//6I2mz1X9SdvGlyYJCSUCDEMw1epi55HQCsQmnmYt9KM2iJ5kqpFEJLJSIdm1nYwkmdLlh\
    +mfqFZVMrRvasek2nH5BoeyKDFoiMe18Lr1kbJOIDE1IaQMBdFG1Z+xSO6B+MvKk5HPTkZ5RQfIX\
    DzvbsIG7C1y+0GS0AXq7Y7fxs3oVuTrNKBnlErHa0kbx6B7/HUVpN3faWW8WbA1NxmqTFed1dFix\
    Vh1H3WSqcHZYG0VO9W/X2RF7YxWk/NKpJYNSjCkFll8cgAT1vmdvh3UvGCWjC5guEV0mI92YoNiZ\
    oGDclZ6t+eOWUr77nQ6JSMAcYs4zM76DHceTdJJphn4gQyKqzW49hMScjx646cwTNSfiuEKaBt7J\
    sAvH1sRw/lOgEROEZBkXB7zNgIsimEwNmh2z0CBbIrYB2JCyJ2YwGAqBPKBdV8x1fibxHTvolYwV\
    ErEOwK6UJvZg4pkn9rfHERnqgXsxQCCXAesBJ3AYNWh2EILx7meRoNB1QbFOIoN3bANFRj/tSMRG\
    IAYYJBEjDYXMp591seAZ6yIyZAOfYYBEBCTiOGbYl1L8e7bsivlcajkAvGJMQ5HZTzs2pKIppiZ0\
    l9u0mH2paIqVZqklOySZVyBv7QMp+2Ibl6ltIeDQTRYfZSlzsY/vv+ksJvid6qnx8g1KqHcyfEBb\
    lKXMmfPlCbeRWHsiTK2CgkVmyVindrnIS9kXS028RKw5RT0Gr001S0YpkBftQWFdrLa9R4zCeTDh\
    Gzh2i1kyNgKzJSJABBGSyDPttXt+3f3S90mXJMss0wzBDyyViALsYH1Nsk/5y98PompqG7rJaAem\
    akKRRyD578gpqqQ4+2E0moFMpDhGhJBEp5RGUU46sBVFITDBgpBthJT2UgmBFdKAaqxg/0jxD1/F\
    lTwtY7lbAAAAAElFTkSuQmCC') center left 10px no-repeat;
}

header h1 {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 0px;
  top: 10px;
}
header h1 a {
  padding-left: 70px;
  display: inline-block;
  color: black;
  text-decoration: none;
}
header small {
  position: absolute;
  left: 70px;
  top: 50px;
  font-size: 12px;
}
header form#search {
  background: #EFEFEF;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  top: 25px;
  padding: 5px;
}
header form#search input {
  border: 0px;
  background: #EFEFEF;
  font-family: "Roboto", Arial, sans-serif;
}
header form#search input[type=submit] {
  color: #000;
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAMFBMVEX///87QEM7QEM7QEM7QEM7\
    QEM7QEM7QEM7QEM7QEM7QEM7QEM7QEM7QEM7QEM7QEO792dlAAAAD3RSTlMAECAwQFBgcICfr7/P\
    3+8Gi+IRAAAAhUlEQVR4Xm2LvQnCYAAF7zP4A1qktEhh4QAZQazdQUewdAHniBs4gtgL3wCWYp1G\
    UPgSn/AgRcCrjuM9egwORwyhkp6YQveLdtbqTTi/vNQepg3AuAUyLYBJAqhXfR0q98DhBDPf2KYy\
    i00OMNK3lq7OG+kmZ1iuQ3Q2hT6dhvigY17ynx+Bii7e4ZdF6AAAAABJRU5ErkJggg==');
  width: 20px;
  height: 20px;
  text-indent: 20px;
}
section#bumper {
  clear:both;
  background: #2d2d2d;
  color: white;
  height: 270px;
  margin: 0;
}

section#bumper > div {
  margin: 0 auto;
  width: 950px;
}

section#bumper > div article {
  display: table-cell;
  height: 270px;
  width: 320px;
  padding: 10px;
}

section#bumper > div article h2 {
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
}

section#bumper > div article p {
  max-width: 250px;
  font-size: 16px;
}

section#bumper > div article a {
  display: block;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  width: 165px;
  background: red;
}
section#bumper > div article#demand a {
  background: red url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAqFBMVEX/////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    ///////////////////////////////////////////////////VRVRbAAAAN3RSTlMAiwdlCsoE\
    xrkBEzIpeSBhJff0dkCWaFup2ere7KyKSKG4dAy/yxHwsvywwAaqCwKetpqoCI6d3NsaywAAAH5J\
    REFUeF51zEUOw1AQBNEyxBRmZmbO3P9mkWVb+h4ltWq9RfOzSnVSLgKUFlanBuBsRWTftkOrLiKN\
    JrQkyQ/S0aUnKp++pgFDTSPGmgpMNTkwy8vcg+XKlPUGwN0ZRxEA2IdMjqnA6ZxIcCGL6y2Wu4tR\
    +BB5vsj3/nj87Qv6PyeJrGmUNwAAAABJRU5ErkJggg==') center right 15px no-repeat;
}
section#bumper > div article#supply a {
  background: red url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAABAlBMVEX/////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    ///////////////////7Srm1AAAAVXRSTlMA7ZXuFPHzDJoOJAR01RHklmFmDcT6E89PPpRo/er+\
    /PvJL0iSv38jJ6EDWhpcRKIYpZfeaTjr2/fmCedlx4Xd1JtzTor5MVXfFvDBBuCZ2mDW7OXoNUBr\
    4gAAAMZJREFUeF6NzMVuxTAQheGpHc5FaC40eJm5zMzcef9X6dhOpW4q9d8c6Vsc+Kt+mzFmzQYF\
    mq6iLaQ2s7tyFJUEMTD3aTYUFQVZYPKUyux4heFFrQluq7YQZFcerEf0x+krUbmT78EIw6O6A8Pt\
    +jnRBKe5eQapJZiB/FpHO7q+J6gBB4eSSvhTUEliSUX8naQTRD2JFJye0RhQNfASrpBzfp3PudWY\
    Z8G+wVso3N1rWsbwnp4bmg0AL/4rvtF67x+fXw78s29hEyz1ISAEmgAAAABJRU5ErkJggg==') center right 15px no-repeat;
}
section#bumper > div article#about a {
  background: red url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAMAAABhEH5lAAAAsVBMVEX/////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    //////////////////////////////////////////////////////////////+ei+1FAAAAOnRS\
    TlMARRXW7IyLp3Aynylv/feGjYM9rqLefcqThCPw6htM9vNDONvDM8n54KlGXdc/KiscBkTpgQ1n\
    mFMRlJEbNQAAAHdJREFUeF6FyNUOg1AQQMFzgbq7u7vb/v+HteEmFDZpOo/DL47JxmNJ4wSRSnji\
    89IZO4WcBPJ1gKJElMCIUqaiq0pNl4urq0FTV4t2JzrdHvQH4RmOAMaT70xn+OY2FsvVGmvzie1u\
    fziesDiLXK43wu6P54s/3t+TKhMjXhETAAAAAElFTkSuQmCC') center right 15px no-repeat;
}

section#content {
  background: #EFEFEF;
  margin: 0;
  border-top: 2px solid #D9D9D9;
}
section#content dt {
  font-weight: bold;
}
section#content dd {
  margin-left: 5px;
  margin-bottom: 5px;
}
section#content input[type=submit] {
  display: block;
  border: 0px;
  border-radius: 5px;
  background: red;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  margin-top: 20px;
}
body#frontpage section#content {
  border: 0px;
}
body#frontpage section#content > div,
body#showposts section#content > div {
  display: table;
  border-collapse: separate;
  border-spacing: 20px;
  padding-top: 0px;
}
section#content div#news, 
section#content div#sidebar {
  display: table-cell;
  vertical-align: top;
}
section#content > div {
  margin: 0 auto;
  width: 950px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}
section#content div article, .box {
  display: block;
  background: white;
  border: 1px solid #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
  margin-bottom: 20px;
}
.box h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
}
.box > .body {
  padding: 30px;
}
body#addpost section#content div article,
body#editpost section#content div article,
body#viewpost section#content div article,
body#about section#content div article {
  width: 100%;
}
section#content div article .itemHeader {
  padding: 20px;
  padding-left: 80px;
  position: relative;
}
section#content div article .itemHeader a {
  text-decoration: none;
  color: black;
}
section#content div article .itemHeader .expired {
  background: none repeat scroll 0 0 red;
  color: white;
  padding: 2px 8px;
  text-transform: uppercase;
}
section#content div article .itemHeader a.editlink {
  float: right;
  display: block;
  border: 0px;
  border-radius: 5px;
  background: red;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 3px 8px;
}

section#content div article .itemHeader.area_code {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAABblBMVEXZ2dnZ2dnZ2dnZ2dnZ2dnZ\
    2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ\
    2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ\
    2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dkAAADZ2dmurq4PDw9U\
    VFShoaGjo6MICAjMzMzU1NQNDQ1HR0dra2uMjIx4eHh9fX2CgoIfHx+SkpIhISFNTU2/v79PT0/P\
    z8/R0dEFBQXW1tYDAwNhYWEkJCQKCgqzs7O6uromJiYrKyuAgIAuLi6FhYWHh4eKiooxMTGPj484\
    ODiUlJSZmZmcnJw7OztAQECmpqarq6tCQkJFRUUXFxe9vb1KSkrCwsLFxcXHx8caGhoSEhIUFBRZ\
    WVlcXFxeXl6+zbtTAAAAOnRSTlMADQ8QERMUISIlJidNTk9QVVhZW1xfdHd4hYaHiJCRkpOwsba6\
    u8XG0NHT1NbX2Nne4OTn6+zv8P3+m/+qWAAAAetJREFUeF6VlmdXGkEUhi9sFIgmwSjGgiZZCVkS\
    QnTt76UWe+/pvfde/n0Cx8Myw51Vnq/vc+bMzN57Z0knFB20nYmpqQnHHoyGyJeO3rFJbmJyrLfD\
    KAf7M9xCpj8o290OizjdghwYmWMDcyMB3Q4n2YdkRLUjN9iXdJeydoZPIBP2bCvJJ5K0GvplPgVX\
    GjfIp+L4PoNpNXj+A4+y0nGtun5JDQo4+v2r+k3wB+p1Mq4G+dIOZ/G4lr9/gY0lLxmv1U+MTXr5\
    U257De+8KEZECU0vNjazjgLv3Ml7UYIoPM0aq8BefcmnyHIl98VLpsPUwzpbQLWefs+trbzBK/bo\
    obhZ5+wesNocxcn20bkEfG2ObHJ89LtAaV/pFHJ99E3grRK5NGPUtz4CeKVEMyZ9d/3DAYAFVnV5\
    M6V8FTW2K2rkikc95n5Rj1JkG/TcoVDEV2lY1Dee7LJAXC4CfGaRi0KJ3dM+jlJidE0Lyg8AbIp+\
    QmiPRSxVFvFa0mNC8y38rG1/2ZPU5qMBNVjGSvkvCqbWJksdHJVnAP4I9u0z4ljaf/mwyAIX2h56\
    7Y/U9gc20dmb/vatrnYem+sR0giMzpvk+dEAtXIuJdup8yRiyc+wRSY6+/RHvq+TfAlFh2zHnZ11\
    HXuo9RfiH481h7yZyM/AAAAAAElFTkSuQmCC') 20px 20px no-repeat;
}
section#content div article .itemHeader.area_graphics {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAA81BMVEXZ2dnZ2dkhISEeHh4iIiIX\
    FxfY2NggICAWFhYYGBgjIyPGxsbMzMzQ0NAcHBwdHR1iYmJ6enpjY2NZWVl+fn6NjY0ZGRkSEhLN\
    zc3Pz88vLy/T09PW1tbX19dAQEBGRkba2trFxcUwMDBWVlZYWFgVFRVbW1tcXFxdXV1fX19gYGBh\
    YWENDQ0kJCRkZGRpaWlsbGxwcHB5eXklJSV7e3ssLCyFhYWJiYmKioqLi4sfHx+1tbW2tra7u7u/\
    v7/CwsLDw8NUVFRVVVU8PDw9PT0/Pz8aGhrR0dHS0tJBQUHU1NTV1dVFRUUUFBRNTU1OTk5RUVFn\
    lbGBAAAAAXRSTlMAQObYZgAAAUNJREFUeF611cWOwzAQgOGOIYxlpmVmZmZ4/6fZSImStevaSaX+\
    pxw+jXxwxiU+YCpJA0FKzKfUag/SZFrtQZlEKzzkakYOOWO1OpaPqmHcYch8XEESo23D03WEkM7l\
    Ny4zn/Gq6QxFdQ62RXwf9wCgAxONNzIOaSHugvuDB02et4PUcPyOIrOv5ePn3Y8tRIjvxEqraarp\
    vwapPyYq2LxX8da3/5mcfc2wzAUFB2gls1cpIYQuynnacqSjaEVT8Ju9SK/EmlhGRc5t3Nh9DyhJ\
    QqYL7fJUbmNseZZHUu6/SKaPEI6MTnLxHhzFczlensI14mE2v+5Kpg+e3tj6D6//OXOBNRhOBjBe\
    F933Y3rRdARdkx0Rd60vQxBderaFP6tTOzkTdHrLbYL5LJr57shCfvbnQO0LP2V8UlzAF3vkpcnt\
    H0f0LANsjh1cAAAAAElFTkSuQmCC') 20px 20px no-repeat;
}
section#content div article .itemHeader.area_music {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAABdFBMVEXZ2dnZ2dkeHh4cHBwhISEi\
    IiIgICAYGBgZGRkjIyMaGhqtra3Y2NjW1tYlJSUdHR0oKCg0NDRUVFRnZ2cbGxu0tLTFxcUfHx/L\
    y8sTExPR0dHS0tLT09PKysrNzc0XFxdHR0cyMjImJiYxMTEqKiq9vb17e3t+fn4tLS3IyMgwMDAS\
    EhIODg7Ozs6CgoKDg4OFhYWSkpKampqcnJxAQEB/f3+AgICBgYGjo6NSUlK2tra/v7/BwcHV1dU+\
    Pj5VVVV3d3fX19dra2ttbW1zc3ORkZF1dXVGRkYPDw8RERGdnZ2fn59DQ0MUFBSkpKRERERbW1vP\
    z8/Q0NBcXFzMzMxaWlouLi6GhoZLS0vGxsbHx8dwcHA8PDw9PT1WVlZjY2NlZWVmZmY1NTU2Nja4\
    uLi6urpJSUnJyclycnKMjIyQkJAvLy9BQUGbm5ugoKChoaEkJCRMTEylpaWnp6epqalRUVGurq4J\
    CQlTU1MICAgnJydFRUXtcI4VAAAAAXRSTlMAQObYZgAAAaBJREFUeF611dVu9EAMgNF6IAjLzFBm\
    Zmamn5mZGV6+2dIqHe14Fanf9ZEvoondcjXw1CINxADBYqjGPUhDNOIBTdBIgkbywWXams1/evw2\
    W/cybaen30Xm9JHvcFkjbmUPX45Nhlg0EKiOermI071T7SMOoUThXOkaAI8XJt9rD9FoIMG4G87T\
    a5uackpFLmpIRii7wCxBPBxEnl+mp8N1lqAFlbxvgus6I4aqVZbMtnI/ygk1qPLgjdmag28c5Vr0\
    1quFX7m85YJhvU/OeyN8JZbJWGfgo96P8Ed3Omu2aV7M1cEQztc7z8GiBROsrzmeicc+/8gPoV8m\
    XKzxG7d/VqodXz90DCDTw/9dnm0rdKuGllK7RuUc7j90eTKVCjqOU1boeEOeNLdXh1sP9l1uL/zt\
    MQjt/v00Bw2epHmzRKPBOS382gVHe8f/CsE/g3e9us6nQyolCRLoma9xWIy/iMdmbGjEt3Z5rS8b\
    ky4XEn5W+4nBONcNbUKi6xxmB3eePS+Fp5DFBE12vTsS9f4XvP9jg3vfhxL3vo+8mNyeABInNpqf\
    kbIKAAAAAElFTkSuQmCC') 20px 20px no-repeat;
}
section#content div article .itemHeader.area_other {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAABFFBMVEXZ2dnZ2dkiIiIhISEaGhoX\
    FxcbGxsfHx8gICAZGRkeHh7T09McHBza2trY2NgVFRUSEhIvLy8/Pz9XV1eVlZWpqam5ubnDw8PL\
    y8sdHR3X19cUFBQYGBgTExNdXV0WFhZCQkJFRUVHR0dJSUlNTU1OTk5SUlIjIyMmJiZfX19iYmJj\
    Y2NkZGRmZmZubm5wcHB0dHR1dXV5eXl8fHx9fX2BgYGCgoKFhYWHh4eIiIiJiYmKioqOjo6QkJCS\
    kpInJyeXl5eYmJiZmZmenp6ioqKkpKSlpaWnp6coKCiqqqqtra2vr68sLCwtLS3Hx8fKysouLi7M\
    zMzPz8/Q0NDR0dEQEBDU1NTV1dUyMjI1NTU4ODg6OjrA9EdGAAAAAXRSTlMAQObYZgAAAUJJREFU\
    eF611dVywzAQhlHvCswOMpSZmZmZue//Hp00k9rpKBu5mX7XZ3Sn/Y3fQUsGGSgisDpC63ogI7SG\
    h45Rmvag1R85aNZJBw/5082d0JO8nBtCaXMr5JTOpwVPcLRSEdCeb9ue+XE0U3LSOnwxwVBcAnyK\
    iShXa3+hgoj2ATy91fajQM3X6hoZy7w7skhx97F4X8gK/I55pj0NBD+5vjsbtSQ2Y9UiwV93S5bF\
    GP5U2wOCzwtsqXfSJ/gNZy1ajAAQfFgiMyNvZwKKXySdqnclm1rOBUBxt78vWyhvVRq6NBgAyQHK\
    AOCvNrw3BQQP89dFnctZmod+mSMiX9LkcCzqfEXFVb5HIprPhwqt4u6YxUTq3NfkuSR3NtyIoj/r\
    y8D4bfvLAdoZsfy/30h9H3cOCN/lOHU1lLSPN/JktP0CghAafAI2xzIAAAAASUVORK5CYII=') 20px 20px no-repeat;
}
.itemHeader.intent_supply:after {
  background: green;
  border-radius: 10px;
  color: white;
  content: "Offers help";
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  top: 20px;
}
.itemHeader.intent_demand:after {
  background: orange;
  border-radius: 10px;
  color: black;
  content: "Needs help";
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  top: 20px;
}
.itemHeader.closed:after {
  background: black;
  border-radius: 10px;
  color: white;
  content: "Closed";
  font-size: 14px;
  font-weight: bold;
  padding: 5px 10px;
  position: absolute;
  right: 20px;
  text-transform: uppercase;
  top: 20px;
}
#viewpost .itemHeader.intent_supply:after,
#viewpost .itemHeader.intent_demand:after {
  position: relative;
  top: 0;
  right: 0;
  padding: 0 10px;
  margin-left: 5px;
}
section#content div article .itemHeader h3 {
  font-size: 18px;
}
section#content div article.postlist .itemHeader h3 {
  max-width: 465px;
}
section#content div article.postlist.closed, 
section#content div article.postlist.closed h3 a,
section#content div article.postlist.closed .author {
  color: #ccc;
}
section#content div article.postlist.closed .itemHeader:after {
  background: #ccc;
  color: white;
}
section#content div article .itemHeader .author {
  font-size: 14px;
  color: #adadad;
}
section#content div article .body {
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #DBDBDB;
  line-height: 20px;
  word-wrap: break-word;
}
section#content div article#about h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
  margin-bottom: 30px;
}
section#content div article#about p {
  padding: 0px 30px 10px 30px;
}
article a.readmore {
  display: block;
  margin-top: 15px;
  color: red;
}
.error {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ddd;
  font-weight: 500;
  background: #f00;
  color: white;
  margin: 20px;
}
article .expiry {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ddd;
  font-weight: 500;
}
article .expiry.soon {
  background: #fa0;
}
article .expiry.done {
  background: #f00;
  color: white;
}
section#content #sidebar {
  width: 220px;
}
section#content aside ul {
  list-style: none;
  padding: 30px;
}
section#content aside li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 3px;
}
section#content aside#categories li {
  position: relative;
}
section#content aside#categories li a {
  text-decoration: none;
  color: black;
  display: block;
}
section#content aside#categories li span {
  position: absolute;
  right: 0px;
  background: red;
  color: white;
  border-radius: 10px;
  width: 32px;
  text-align: center;
  display: inline-block;
  height: 20px;
}
section#content aside#login a {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAKAAAAA7CAMAAADLsHGfAAAAY1BMVEUPGU1LU3qHjKbExtPT1d6m\
    qb1pcJBaYYUeJ1j////x8fUtNmPi4+k8RG+Xm7JFIT94fpu1uMjmORd7KTKxMSQcG0pSIzzMNR6W\
    LSu+MyFgJTmIKy83H0OjLygqHUbZNxptJzWqEJxPAAAEYElEQVR4Xu1WR5LkMAyzsnPo3BP3/69c\
    RcMayls1J++hcZhRsdQWBJAUqw1eeOGFF16oDR8VH7KQVsJC6Sy2yKbplxQbGKv9jxe3k2UEjLJb\
    WzHXCF0i3Pp8yXF++/oHvbEJkGwNqSahNynG2xST4S6tXXHRJAiQ0X0Ktivvj1PAtyd7Ini+VWUM\
    slkRGTJLBdBhW98AreNSNz+gktJiuzUZc4tEvIKnEi7Xon6On5iZFusJ2lEYWVd1RiXaQ+ti7rBO\
    RS4sSjwaVnfGfabDVZRxW7mTOxI8Rxpnu/46FfEsMbQU+iCcGW0gclnqahVTDj4GC92xdj171ZJA\
    taWl041lihq7Ja4/Iwvn5HQq41IQMHkIQEoHo/3piIXkY/5qS4egzWTuFovlh2wULupxjyQmqEkx\
    EYLMCphHtI2sB+BwmavO/dmsAnigokOGIppulji49WOP4IMQ5ISgJJJWncsvwsUGK0rQam1yAYRd\
    wNWniz4pNZQ40athGRkwzhQjXLqkKlQ2XkDxw6HFL94ihc+tmtfA/QZFKwDi9Cw/Z6xy1G0SEHs0\
    jka2DV5/kwmQ7vaOIs5bIkq8nIS+SwuzdXigKsvElXElQ+vhmazR8cFm4Lp1Hn1DnKtta75lLTHh\
    CoIECg/GjsOLz0qmR7E28NZGM62i47OviUFzgb4exP+ODL42er2DBUynYKHxqzo2LvQTdBXZN0Av\
    uPFSd3myKe9zLxugFeOcS5S1REoQEUpRRsdnkqaAUDPzF9kp4hZbpeIMN5i2rj6Jnykr79UOWN/4\
    4kBzA1g4b+Fmq9jwo1wX/8NV4TyP4eqDyEX4l1HL8H717i8QXV9YqT8pBILjzmfpFKZ4bIp4onIh\
    K4FCL9EwjphXiM6kiFNbprhsXH2jcqEJAaVu/AuCyAU4TgnSKs3nGsp/H/w3BJELcHwsE9yfVm/Y\
    gCa0jzERzPM79TY6BbXUcRZ7AUCnVcw1H7RPg05RksE7NxcHHhoU1PG6ITVGi+D6myIG5kBjzIat\
    ro59kBW284LjPcLAzrT6xIY/mCRy1N12qjEh2WEoa1sW1GkHdEyd5oXc8T5WGh7ATtov0WkVbGgR\
    0+Y3eopsadIQ41bSnzEot4ydup3DSygcg2QpdbxzTwkP31TrN1HEhE25iOGLg4hvcSKNYBrex7AW\
    cX+Nh444ruNbIsP/Ic+x+y+LWOPpbM0q64Igx/kJ3mEyrcJxs/kmt6rTaZWy+dqdp+s5CLXougLY\
    4omLGcFu7D07FWl0nOvsqpx36zelZ4dvZq6iiEtN6CDA1XJLwdNyDODqRz7XUP4HAa7mcw2tkWMA\
    VyFXeVo9COVp9Yp3BKYfA7habil3vIPHAK4WW8ofaHoMytPqO+H3eQQ1Oq1+JgXPHhdbwehBxyB3\
    9XkigKTHIHd1j9/zuAzEtAq7Cb6PMZhOq7f/jx9cTXZTXA565IrTKsX9uA5Np9U7Yfe4VQdjOgdM\
    3uIM03RQ7b7wwgsv/AUfMIVeeaZgvgAAAABJRU5ErkJggg==');
  width: 160px;
  height: 59px;
  overflow: hidden;
  text-indent: 200px;
  line-height: 80px;
  display: block;
  margin: 25px;
}
#loginbox a {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAASwAAAAwCAMAAACcwLcTAAAA81BMVEUPGU3///+HjKYeJ1jx8fXi\
    4+nExtOmqb08RG9pcJBLU3rT1d4tNmO1uMh4fpuXm7LoRSZaYYX72tT97er739n3u7D0rJ3vfWf9\
    8O385ODpUjTmORf3wrfzo5Psa1H98u/xkX7xkH374Nv/+fj86OT+8/H/+/r+9vX+9fP2tajudFz1\
    s6b5z8b97+xFIT/739rrXkP86ub74dvzm4rsaE/whnL50cnwiHTZNxqIKy/++/r97On61s9gJTm+\
    MyH62tPxk4D++PZtJzXrXEH2uq75zsXMNR6WLSv61M3ymYj99PL/+vk3H0N7KTLtc1r4ycBSIzw2\
    +I2LAAAHeElEQVR4Xu1ZZ5PjOg50MyrLE8PmnF7O8XLO9/9/za0AWm1SO3vPr2pq93zuD1MsciBA\
    zRYA0qvbO+Lj1f8v/kfJOpB1IOtA1oGse69xS0af3iNkijiQpQwBwEsZPsU2Xpz8+OucrANZDwDg\
    YhrdwgJPH2yTdSDrDgCsp9EFlsDXW2QdyDoGcCKjMxDEOck6kHUC4FRGjwDcf5hwfnb6HBN+s35/\
    yOqM6d4pWS8AfCijKwCf3ybWZ38DgA/eH7IMYG/KQWOM/FXU1ZvIegUAd2V4H8DxZp4f5tX7Q1YP\
    f2MOAtrXg4gN/NGSrLsA8CrrIYj1cwAn15JV7bLNlnu1A5KRMc00aBFujCyHKJQR9YKsDwG8KHoI\
    4vhtZEW4HVRO5zughU/Gss+AuSmurD4bGDXcCLgFWacTHewh2LfPOf+SZJWPR7eDyjHsnkdSxDUw\
    SazahfDdXTXiYZilgKok62ROVMczMcQfAHx2nbKC22Gfaxfsz1CWq1NiJ2c3g0F2/miiTMAhyVoD\
    wJ2Ztk8Ksj4TKt95gg9oydnNIMLlHpqSrNS1P5h7iD8XZJ3I3DsnyyGSs5tBQMjL7QDYgqyXAPCp\
    XD7M7Tpxay6QJKtu4WM36TSEbjMDBBNC/XocwjAGAH1R/GTVhjAOvWNdzlZz9MFMT5sGAfCTvUcr\
    z26TNTFoUBOsaQG06XlNDwDRrpLz4EDzKjoAvdgBI8ttKWOWO9zPewgFm7CvtsmqtLa61/5GfZpt\
    sUGz3ac4pqg5NzeYQbayMlebNOiAQaU0W9i8qhOVhuC6aewhUC2OULT2Dc4NFN6qO8ZBqWVkfa5d\
    eyqGj9c5WedJdyQrAGH0CFafply5aGQDZRJwvYkefCGmywGiwbEFwhvJsg6YN7ZbefSrKgQPhBC6\
    Rq1NquqEB+LohZ7O6b8ooRFw49HghQlTODdcZDFk1B59SRa79tOsGLIJ+2j7IN3oBtRMJBEY7RSl\
    lzcAvCx24B5R1BHOWO2f3BvJMnM74tDrNBu6Aagtq3qxEVb8hqS62g2y0FoNps+ce3kVXbRA2MRX\
    A00ekmJx88cDNXGqnQPJ6gGbdXEd0FK2omb6KusZpR3gC7L6JCwJV8PWXpRmI7AsVBoUv3bQrXXy\
    hWkqSs4Zi9fFNN/DL4ohM0V587d+rAdqgk0YyYqaDxnxOG8yMLI5oaApavbHDLxIEGbORx5BpMTk\
    S6PyPN0zqAiuUCdVi750XosjXQxKp9JIY3bcxc0fD9SEEnin+AyB2DFij8AMzq0haxQ1dbcJnIhq\
    59CqNIbNTsy5nkY8ZzEfwkXLPeFZyTYmSvY3GiBj6eFsM8QgL6RzNKeMFeXZ7/y6YvgXkjUF5rQW\
    asT6HmSHfQoFTVGTQZoxpVUqBQndOgRKScxotNRlLUFVpZ5BoClF70DU09zRshiSLCaqOZc/vX1d\
    MWSfZQevRTogKEVkh30KWeNhotTd8pjt4fUJyp2WEDVjpqLECGucBJWdhxoIfG+OqlXpvEqLQRbV\
    kHmq9FHe/P0qaWxZDEmWwsYk3DFlD7LDraGgKeql7gggShqR1N8BkVJKZvRF/RC2BUwihGTFmnuS\
    O+ci58h16SO/+VONPSrI+gTAVUlW+kiYo8gOt2ZZDMNbdCdLrQhLaO3hLKWkZjSiLonUATAcmi/6\
    ph4tF1msmaf4KZAsdu08UOe4JIEkS0tVipjRAYZbQ9Z4uCODZC2TXq30y8BQSmpGo6UuSYbhK+Yx\
    lKIvr9c8YlYMrddhQnHzd0GN5SfDsyVZNTCmiA1wxMjIHQXNhH697lQtDl4HQMuix95JjJa6pBSG\
    6U/Ux1lxp+xauyqcy6LXxY43f7KlgpgLjzd/2YGaYBNGsuJoV51xcF2KuAJaPVQDFbeGguYX8Rbd\
    abhArWtAQ/3JTLTMImU+tNHYVTU6OCtpe+hW3QhfySPHqcY6Vy2dOyBO095Vm/gsEJsJxgvpRHnz\
    pxojeFokWT0S6jniFoD3MsmtyQovc3OuuwIBcEl1iJTAhkdDo0yXGoEDlIKIhFb9paVat4/dpi4q\
    zCZDNSBiFhwTVZbLCepOMPczgGdLwkM+wqzmTND8oKg7Jh1i2NgCrih6I1jpCl3yrX2jMoMgWjHk\
    ErdPWePikYydhpDQF8LnzV+hMeKv4NwfVfK1MSYlqSal0mnKVMKObRq74ipRNdX8VwaLakbbSk2z\
    pxnTrLrJiPNEN2hQisoYM3SbJYmNIWwGtGs4N3kQyHoGJqo8lxNfbt8G/ukn/Dayv8hv/r6aNUZ8\
    sJ3z//0TfhvZX+Q3f2czMcQTAE/S+NsdflffQ+Q3f49EYxm+AYB/pYl/LB1kV3w93GqPkd/8XSWN\
    EetLAM9+x/ROEI2SpYe5PQabTmpsC+snFBbb9wUAmKYZHFPWXoI3f9QYcfEDAFymjvS31zqI7Oz2\
    Gbz522js9w8Vd8+OTzDh2Zf/tW2wkZ3dHoM3f6qxJZ59oVz94q0OumZgj7ivyG7+jrHE5T81t/99\
    dUC6+TtPh50Sz++shapJVgdkv9d/j218dHX8xUTVL7+Tvv2A/wAF+fEp0wRh+wAAAABJRU5ErkJg\
    gg==');\
  display: block;
  width: 300px;
  height: 48px;
  overflow: hidden;
  text-indent: 200px;
  line-height: 120px;
  display: block;
  margin: 25px;
}
#search_options form {
  padding: 20px;
}
#search_options input {
  padding: 5px;
}
#search_options ul {
  padding: 5px !important;
}
#search_options input[type=submit] {
  width: 50px;
}
#search_options form > label {
  display: block;
  margin-top: 10px;
}
article.submitform {
  position: relative;
}
article.submitform h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
  margin-bottom: 30px;
}
article.submitform form {
  padding: 30px;
  padding-top: 0px;
}
article.submitform form ul {
  list-style: none;
}
article.submitform form #tips {
  margin-top: 10px;
}
article.submitform form #tips ul {
  list-style: outside;
  margin-left: 20px;  
}
article.submitform form > label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}
article.submitform form > small {
  display: block;
}
article.submitform form input:disabled {
  background: #ccc;
}
article.submitform form input[type=text],
article.submitform form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
article.submitform form textarea {
  height: 200px;
}
article.submitform form input[type=submit] {
  width: 250px;
}
section#content #removeButtons {
  position: absolute;
  bottom: 30px;
  right: 30px;
}
section#content #removeButtons > input {
  display: inline;
  font-size: 12px;
  width: 140px;
}
section#content input[type="submit"]#deletePost {
  background: red url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAABAAAAAQBAMAAADt3eJSAAAAMFBMVEX/////////////////////\
    //////////////////////////////////////////9Or7hAAAAAD3RSTlMAMxF37t0iVYjMu2aq\
    RJnKnvz3AAAAX0lEQVR4XmMAAiYFBghgdYMy7H9BGEz+/y+AGRz//08AM/K/i3wHM85/5P8KYjD+\
    /83/3wDI4Pr/Wf6/E5BR/x8IfgAZ80Ei/xUYuP+DGQ8YWP+DwTcEg0kQDBQYYAAABD4w07rVNRYA\
    AAAASUVORK5CYII=') 8px 4px no-repeat;
}

.calendar {
  background: white;
  font-size: 14px;
  margin-left: 170px;  
  border: 1px solid #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
}
.calendar td {
  cursor: pointer;
}
.calendar td:hover {
  background: #eee;
}
.calendar td, .calendar th {
  width: 25px;
  height: 20px;
  text-align: center;
}
.calendar td.selected {
  background: red;
  color: white;
}
.calendar td.otherDay {
  color: #ccc;
}
div#sendmessage textarea {
  margin: 20px;
  width: calc(100% - 40px);
  height: 200px;
  display: block;
  padding: 10px;
}
div#sendmessage input[type=submit] {
  width: 250px;
  margin: 20px;
}
div#sentmessage {
  padding: 20px;
}
div#messagelist h2 {
  margin-bottom: 0px;
}
ul#conversation {
  list-style: none;
  margin-bottom: 30px;
}
ul#conversation li {
  display: block;
  background: #eee;
  margin: 10px 30px;
  border-radius: 10px;
  padding: 10px;
}
ul#conversation li.theirs {
  margin-right: 100px;
}
ul#conversation li.ours {
  margin-left: 100px;
}
ul#conversationList li {
  list-style: none;
}
ul#conversationList li a {
  text-decoration: none;
  color: black;
  display: block;
  padding: 20px;
  padding-left: 75px;
  border-bottom: 1px solid #DBDBDB;
}
ul#conversationList li.read a {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAABU1BMVEXZ2dkAAADZ2dkODg6CgoLQ\
    0NA6OjofHx8BAQElJSUrKys4ODgCAgI9PT1AQEBLS0tcXFxfX19lZWV0dHQDAwOIiIiurq66urrL\
    y8sJCQnS0tLY2NgNDQ0nJycgICDX19fIyMhHR0dISEgQEBDV1dXW1tavr68WFhYxMTF/f39paWk+\
    Pj6/v79OTk5zc3NWVlYiIiJdXV1FRUUoKChqamptbW1vb28FBQUuLi6wsLCysrK0tLRoaGi9vb0X\
    FxfBwcEYGBgaGhqSkpKYmJhPT09RUVFJSUnR0dHDw8PHx8fU1NRZWVnKyspaWlo2NjadnZ2fn5/O\
    zs7Pz88dHR0eHh7T09MMDAypqamsrKyBgYEPDw8GBgZeXl55eXm3t7e5ubl6enp7e3t8fHwvLy+A\
    gIALCwsUFBRgYGAmJiZmZmaHh4cyMjKKioqPj481NTVbW1utra100y28AAAAAXRSTlMAQObYZgAA\
    AYNJREFUeF611VVvMzEQhtHMeCHMzAxlZmZm+pgZ/z92s43SxN6OpZX6XB/5zu84+LAvBxlaJMFi\
    Ui33SEZpuUdpoqYTNZ1NLoLaqf/Xz7TorfXuB+/XtehhkvfWXB0AX6L4Gkr7Ihf1+TcoqQaYAt8q\
    70V+NArbqgki8Dch43sTELzugI9R9zzHOV3UYKDaBbFX+X7P8YstGBkpPxQ2wAZzLRK8BcEauE0N\
    oBngM/gJPudZRlBMAMql4dOeKMHzIXzkcWb4EMXdgUSXa2EN4hig+Il3OtPhZcYYKJuVFME9zpsX\
    Blci7ZIIP757KwRvjg0CtJCZxRGYPtggeO5NZgb86pnSLrkJuvqOen0yjJkdCIHZ0qw+hHdZmqMa\
    Ad974/Et5/AC4n8Zx8IfMAscoJy32wD9EwSrKHKHFcfbiUYsjQJ3PMFx6G0B5Ty3hFx1RnxWl8Dn\
    U8QSDH85Hv/XW+hqnRiaejPFXvaWXfnN6WfcSNrbH3j7x0bubR9Kubd95MVoew+1NjsQwVtrMgAA\
    AABJRU5ErkJggg==') no-repeat;
  background-position: 16px 22px;
}
ul#conversationList li.unread a {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAyVBMVEX/AAD/AAD/AAD/AAD/AAD/\
    AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/\
    AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/\
    AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/AAD/////IiL/VVX/iIj/mZn/zMz/3d3/7u7/ERH/d3f/\
    MzP/Zmb/qqr/u7v/RETLRxrRAAAAM3RSTlMAAwYJDA8SFRseJEhLTlFUV1pdYGxvcnh+gYeKjZOW\
    maKltLe6vcbJzM/S1dvh5Ort+fx09O2SAAABjklEQVR4Xp2WeVuCQBCHJ0XLJEsyO8gOMCUjNGa5\
    BI/6/h8qCoU9QFffP31e5/nNLsMAPM3Oo2khomsZutqAndS7Q6RxjctatdyfooDTq/hD5xNLsdsg\
    cjLASh7EDt9wB4bC2uc27mTSou0zB/dgnxa2MsG9jIsDekEJBlv7CqVob6I4crqdxblDSW7+i88K\
    wRf5KXTnr3wvlxcxKWHu5YIGAONcj+NAJCTfuWACtDCHzJFG/NVtgkbpcSLaPl1EhWdKJ4GoR7Su\
    w4jWyYK3Q0LrBkzplDFXP4kIU90Gl9a9iKyp/Ms5CT1anwF7BklIoiV1Dwv2vL44HTEg8WobO/aR\
    111Ox1XWQLImkYecPmNbzRKn/fmrNHaCvG7DiNOzwilByV2b8Fx23X4QeFii66Ad8MygeugjBmN5\
    3WTGIyKlBLmgMcOXrOclBOzwwb30aB/z4oCunK7ChlcZ+wm2KB/7bat23Atbfh3IL5ujVpn8ohRR\
    bsvWcL8OVdSvh1zorrCzxU+Id0yxDP2iwQu/L/VO9TNxslAAAAAASUVORK5CYII=') no-repeat;
  background-position: 16px 22px;
  color: red;
}
ul#conversation li span.author, 
ul#conversationList li time {
  display: block;
  font-size: 14px;
  color: #adadad;
}
ul#conversation li span.author a {
  color: #f88;
}
#profile .unread {
  font-weight: bold;
}
article#singlepost .body a[target=_blank],
article.postlist .body a[target=_blank],
ul#conversation a[target=_blank] {
  background: url('data:image/gif;base64,\
    R0lGODlhCwALALMAANjY2OLi4tnZ2e7u7sDAwOPj4+vr68zMzP///1FMTAAAAAAAAAAAAAAAAAAA\
    AAAAACH5BAAAAAAALAAAAAALAAsAAAQmECGTqq0yJMlRGgWwXR4pYZh3qum4tt25lZcVe8Qh3skh\
    1wmBJAIAOw==') right center no-repeat;
  display: inline-block;
  padding-right: 16px;
}
aside#addnewpost_bumper a {
  margin: 20px;
  background: red;
  border-radius: 10px;
  color: white;
  display: block;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
#about {
  padding-bottom: 30px;
}
#about h3 {
  margin-bottom: 10px;
  margin-left: 30px;
  margin-top: 20px;
}
#profile form {
  padding: 30px;
}
#pagination {
  padding: 10px;
}
#pagination ul {
  text-align: center;
  font-size: 12px;
}
#pagination li {
  display: inline-block;
}
#pagination li a {
  display: inline-block;
  padding: 3px 6px;
  text-decoration: none;
  border-radius: 5px;
  margin-left: 3px;
  margin-right: 3px;
}
#pagination li.current a {
  background: red;
  color: white;
}
footer {
  height: 100px;
  clear: both;
  border-top: 2px solid #D9D9D9;
}
footer > div {
  margin: 0 auto;
  width: 950px;
  clear: both;
  position: relative;
}
footer > div p {
  color: #bdc3c8;
  margin-top: 20px;
}
footer div#supporter {
  position: absolute;
  top: 10px;
  right: 0px;
}
footer div#supporter a {
  vertical-align: middle;
  display: inline-block;
  text-indent: 100px;
  overflow: hidden;
  color: transparent;
  margin: 5px;
}
footer div#supporter a#sceneorg {
  width: 96px;
  height: 58px;
  background: url("sceneorg.png") no-repeat;
}
footer div#supporter a#tum {
  width: 105px;
  height: 58px;
  background: url("tastatur-und-maus.png") no-repeat;
}

@media screen and (max-width: 1000px)
{
  header,
  section#content > div,
  section#bumper > div,
  footer > div
  {
    width: 100%;
  }
  section#content div#news, section#content div#sidebar {
    display: block;
  }
}

#admin ul {
  padding-left: 20px;
}
#admin h3 {
  margin-top: 20px;
}
section#content #admin-showcase input {
  margin-top: 5px;
  font-size: 75%;
}

section#content div article.showcaseitem .body {
  border-top: 0px;
}
section#content div article.showcaseitem .itemFooter {
  border-top: 1px solid #DBDBDB;
  padding: 5px 10px;
  font-size: 70%;
  text-align: right;
}

@media screen and (max-width: 800px)
{
  header
  {
    height: auto;
    background: none;
  }
  header form#search,
  header h1
  {
    position: relative;
    display: block;
    top: auto;
    margin: 10px;
  }
  header h1
  {
    font-size: 32px;
  }
  header h1 a {
    padding: 0px;
  }
  header form#search input
  {
    width: calc(100% - 32px);
  }
  header small
  {
    display: none;
  }
  section#bumper 
  {
    height: auto;
  }
  section#bumper > div article
  {
    display: block;
    height: auto;
    width: 100%;
    padding: 5px;
  }
  section#bumper > div article h2,
  section#bumper > div article p
  {
    display: none;
  }
  section#bumper > div article a
  {
    margin: 0px auto;
  }
  body#frontpage section#content > div, body#showposts section#content > div
  {
    border-spacing: 0px;
  }
  section#content #sidebar
  {
    width: 100%;
  }
  .box h2 {
    padding: 10px;
  }
  .itemHeader.intent_supply:after,
  .itemHeader.intent_demand:after {
    white-space: nowrap;
    position: relative;
    top: 0;
    right: 0;
    padding: 0 10px;
    margin-left: 5px;
  }
  footer div#supporter a#sceneorg {
    width: 48px;
    height: 29px;
    background-size: 100%;
  }
  footer div#supporter a#tum {
    width: 52px;
    height: 29px;
    background-size: 100%;
  }
  #loginbox a {
    background: url('data:image/png;base64,\
      iVBORw0KGgoAAAANSUhEUgAAAKAAAAA7CAMAAADLsHGfAAAAY1BMVEUPGU1LU3qHjKbExtPT1d6m\
      qb1pcJBaYYUeJ1j////x8fUtNmPi4+k8RG+Xm7JFIT94fpu1uMjmORd7KTKxMSQcG0pSIzzMNR6W\
      LSu+MyFgJTmIKy83H0OjLygqHUbZNxptJzWqEJxPAAAEYElEQVR4Xu1WR5LkMAyzsnPo3BP3/69c\
      RcMayls1J++hcZhRsdQWBJAUqw1eeOGFF16oDR8VH7KQVsJC6Sy2yKbplxQbGKv9jxe3k2UEjLJb\
      WzHXCF0i3Pp8yXF++/oHvbEJkGwNqSahNynG2xST4S6tXXHRJAiQ0X0Ktivvj1PAtyd7Ini+VWUM\
      slkRGTJLBdBhW98AreNSNz+gktJiuzUZc4tEvIKnEi7Xon6On5iZFusJ2lEYWVd1RiXaQ+ti7rBO\
      RS4sSjwaVnfGfabDVZRxW7mTOxI8Rxpnu/46FfEsMbQU+iCcGW0gclnqahVTDj4GC92xdj171ZJA\
      taWl041lihq7Ja4/Iwvn5HQq41IQMHkIQEoHo/3piIXkY/5qS4egzWTuFovlh2wULupxjyQmqEkx\
      EYLMCphHtI2sB+BwmavO/dmsAnigokOGIppulji49WOP4IMQ5ISgJJJWncsvwsUGK0rQam1yAYRd\
      wNWniz4pNZQ40athGRkwzhQjXLqkKlQ2XkDxw6HFL94ihc+tmtfA/QZFKwDi9Cw/Z6xy1G0SEHs0\
      jka2DV5/kwmQ7vaOIs5bIkq8nIS+SwuzdXigKsvElXElQ+vhmazR8cFm4Lp1Hn1DnKtta75lLTHh\
      CoIECg/GjsOLz0qmR7E28NZGM62i47OviUFzgb4exP+ODL42er2DBUynYKHxqzo2LvQTdBXZN0Av\
      uPFSd3myKe9zLxugFeOcS5S1REoQEUpRRsdnkqaAUDPzF9kp4hZbpeIMN5i2rj6Jnykr79UOWN/4\
      4kBzA1g4b+Fmq9jwo1wX/8NV4TyP4eqDyEX4l1HL8H717i8QXV9YqT8pBILjzmfpFKZ4bIp4onIh\
      K4FCL9EwjphXiM6kiFNbprhsXH2jcqEJAaVu/AuCyAU4TgnSKs3nGsp/H/w3BJELcHwsE9yfVm/Y\
      gCa0jzERzPM79TY6BbXUcRZ7AUCnVcw1H7RPg05RksE7NxcHHhoU1PG6ITVGi+D6myIG5kBjzIat\
      ro59kBW284LjPcLAzrT6xIY/mCRy1N12qjEh2WEoa1sW1GkHdEyd5oXc8T5WGh7ATtov0WkVbGgR\
      0+Y3eopsadIQ41bSnzEot4ydup3DSygcg2QpdbxzTwkP31TrN1HEhE25iOGLg4hvcSKNYBrex7AW\
      cX+Nh444ruNbIsP/Ic+x+y+LWOPpbM0q64Igx/kJ3mEyrcJxs/kmt6rTaZWy+dqdp+s5CLXougLY\
      4omLGcFu7D07FWl0nOvsqpx36zelZ4dvZq6iiEtN6CDA1XJLwdNyDODqRz7XUP4HAa7mcw2tkWMA\
      VyFXeVo9COVp9Yp3BKYfA7habil3vIPHAK4WW8ofaHoMytPqO+H3eQQ1Oq1+JgXPHhdbwehBxyB3\
      9XkigKTHIHd1j9/zuAzEtAq7Cb6PMZhOq7f/jx9cTXZTXA565IrTKsX9uA5Np9U7Yfe4VQdjOgdM\
      3uIM03RQ7b7wwgsv/AUfMIVeeaZgvgAAAABJRU5ErkJggg==');
    width: 160px;
    height: 59px;
  }  
  section#content div article.post .body {
    padding: 5px;
  }
  section#content #removeButtons {
    position: relative;
    bottom: auto;
  }
}
