@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  background: white;
  color: #2d2d2d;
  font-family: "Roboto", Arial, sans-serif;
}
input, textarea, select {
  font-family: "Roboto", Arial, sans-serif;
}
header {
  width: 950px;
  margin: 0 auto;
  position: relative;
  height: 85px;
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAADUAAAAyCAYAAAD845PIAAAGwElEQVR4Xs2ZcUxUdRzAPz9PL4+o\
    I+iKwqVZaeLITHepWhSmQVIO1VmCpulyOG2rls5VucjW0rm1NMwW6QKMUqUKBJkiFGUxaDhSpJFt\
    lkmaCIaenbt+XfuNvXm893znu44+29v9x+7D537f+753QtKLRCAdcACNQBN9ixsYAwSAOvWqgext\
    0B8NF7AeyOVSSoElwCnCxwt4gHKujBfVhQtFAPgcWAW0YkA/TYgaHSGALJ+Lb4FYwiMR2AVsUfXD\
    Zj2wBnCh4QCygAYg9XJSHwJeDHD5GLopl3oh8WANpxIiCfB0xPPF1ed4FOtMAZ7DmNiz17IndxMT\
    jaTSgFmYw6Q6RuBzfSukpWL5wHgUxHcw9qU1lAhpudiLmMO1Z7kqs4wagUjVk5qHBVKaITbgG8qm\
    3HqBNCuWCywihBVrickqjK0VMecuV8wDpGKB9Er63/DTNVUi992JoVLJWCT5MASTjQBqBFKv2GPA\
    BnRwBGDL8u5hdy1+5hOBNCuWhkUcAbjt5J9OMstqhCBVk4IuLOKt70nWnazzmU8BigEHBri7YPfO\
    goFDHsnfK5AO9JlEGJzyQDBZf278facQJCqpMMbtvEItWcg5TAIqrEzIpONQfnT5yFH3b9hqMGCy\
    sEjjGGi7XSVj6NEEYHOP1HtAs9VSb6zqSUaK+giSBjQoMWskH/mbypZnc/KHPPIWGl5gn9W/43PB\
    ks2hyZgmBB4hAcB9cBT7Rx1kNBZoGhZD/Y85zGRnfQKnvUSZ5hSY/yE03a0lY2wDCib0SCEkrpwi\
    WmZvZ3B6JTj9/G84nKzed/DiwHio94Yku+8rJaa4Q0lpYm4OjtrvHHFw9PgDkFoLyzaC5xR9Qt0k\
    WPw+tA63moxGKRmrpDQQSBc5RS3M3j6YYLLhP/s5NFKdxeih3ue934HfaTUZPuA+KWlUUr3F3MBm\
    nP45BJPt+j2XrCMtRJPJ+6A6zWoymoH5UtIEoEnpy2UBC95k5bQVrHUQRUYeUmH0k3EYaFQXB6Sk\
    Hg1NyowAjg8cBBYSRVa/CnmvhCajDlgsEa1m91P9uDyeoNAMoswreWpQ0Z6IgiZgsiakEa6UEygG\
    3EQZRwCqpkLukJUoeF4i/AB2pFzAdmAKfYTTD/m7yyi+YQoT+fosgB2peKBCbd19z9yTeymJS98P\
    DL9SqRTgOyAV+9ARDwWL1FqTXQzvPQ0BB2EzqLM71jdQHDrl4Sl0MJt+C4B8wIV9qEyHhVvUWQ+5\
    i6bkcbWxh8usrbGdO5/sHicFrZebfrHAFnVFRmjbXMioUEKhyeo2FTP9yRlhFlMjPigUx4WBP4iT\
    nqfMSt0CVAHDiRBtt6svT7/TPFnJ9Q8x5499WKF8GmSWofF4yXE+njNZSlr1Sh0DaiP7xamE9JPR\
    ARQA8//6I2mz1X9SdvGlyYJCSUCDEMw1epi55HQCsQmnmYt9KM2iJ5kqpFEJLJSIdm1nYwkmdLlh\
    +mfqFZVMrRvasek2nH5BoeyKDFoiMe18Lr1kbJOIDE1IaQMBdFG1Z+xSO6B+MvKk5HPTkZ5RQfIX\
    DzvbsIG7C1y+0GS0AXq7Y7fxs3oVuTrNKBnlErHa0kbx6B7/HUVpN3faWW8WbA1NxmqTFed1dFix\
    Vh1H3WSqcHZYG0VO9W/X2RF7YxWk/NKpJYNSjCkFll8cgAT1vmdvh3UvGCWjC5guEV0mI92YoNiZ\
    oGDclZ6t+eOWUr77nQ6JSMAcYs4zM76DHceTdJJphn4gQyKqzW49hMScjx646cwTNSfiuEKaBt7J\
    sAvH1sRw/lOgEROEZBkXB7zNgIsimEwNmh2z0CBbIrYB2JCyJ2YwGAqBPKBdV8x1fibxHTvolYwV\
    ErEOwK6UJvZg4pkn9rfHERnqgXsxQCCXAesBJ3AYNWh2EILx7meRoNB1QbFOIoN3bANFRj/tSMRG\
    IAYYJBEjDYXMp591seAZ6yIyZAOfYYBEBCTiOGbYl1L8e7bsivlcajkAvGJMQ5HZTzs2pKIppiZ0\
    l9u0mH2paIqVZqklOySZVyBv7QMp+2Ibl6ltIeDQTRYfZSlzsY/vv+ksJvid6qnx8g1KqHcyfEBb\
    lKXMmfPlCbeRWHsiTK2CgkVmyVindrnIS9kXS028RKw5RT0Gr001S0YpkBftQWFdrLa9R4zCeTDh\
    Gzh2i1kyNgKzJSJABBGSyDPttXt+3f3S90mXJMss0wzBDyyViALsYH1Nsk/5y98PompqG7rJaAem\
    akKRRyD578gpqqQ4+2E0moFMpDhGhJBEp5RGUU46sBVFITDBgpBthJT2UgmBFdKAaqxg/0jxD1/F\
    lTwtY7lbAAAAAElFTkSuQmCC') center left 10px no-repeat;
}

header h1 {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 70px;
  top: 10px;
}
header h1 a {
  color: black;
  text-decoration: none;
}
header small {
  position: absolute;
  left: 70px;
  top: 50px;
  font-size: 12px;
}
header form#search {
  background: #EFEFEF;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  top: 25px;
  padding: 5px;
}
header form#search input {
  border: 0px;
  background: #EFEFEF;
  font-family: "Roboto", Arial, sans-serif;
}
header form#search input[type=submit] {
  color: #000;
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAABQAAAAUBAMAAAB/pwA+AAAAMFBMVEX///87QEM7QEM7QEM7QEM7\
    QEM7QEM7QEM7QEM7QEM7QEM7QEM7QEM7QEM7QEM7QEO792dlAAAAD3RSTlMAECAwQFBgcICfr7/P\
    3+8Gi+IRAAAAhUlEQVR4Xm2LvQnCYAAF7zP4A1qktEhh4QAZQazdQUewdAHniBs4gtgL3wCWYp1G\
    UPgSn/AgRcCrjuM9egwORwyhkp6YQveLdtbqTTi/vNQepg3AuAUyLYBJAqhXfR0q98DhBDPf2KYy\
    i00OMNK3lq7OG+kmZ1iuQ3Q2hT6dhvigY17ynx+Bii7e4ZdF6AAAAABJRU5ErkJggg==');
  width: 20px;
  height: 20px;
  text-indent: 20px;
}
section#bumper {
  clear:both;
  background: #2d2d2d;
  color: white;
  height: 270px;
  margin: 0;
}

section#bumper > div {
  margin: 0 auto;
  width: 950px;
}

section#bumper > div article {
  display: table-cell;
  height: 270px;
  width: 320px;
  padding: 10px;
}

section#bumper > div article h2 {
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
}

section#bumper > div article p {
  max-width: 250px;
  font-size: 16px;
}

section#bumper > div article a {
  display: block;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  width: 165px;
  background: red url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAABMAAAASCAMAAACO0hVbAAAAflBMVEX/////////////////////\
    ////////////////////////////////////////////////////////////////////////////\
    //////////////////////////////////////////////////////////////////////+yfIza\
    AAAAKXRSTlMA8Etm/O0SSFohmdioyaL5LQlRabdsYAOT1fNyDE51q7GuXeSQgcYYzNv5Gm8AAAB7\
    SURBVHhebc/HDoMwFETRSQwGTCe99zL//4N5UoTws3yXZzWDqWNZLhC0JtkF1ogZTTYVyxVtlkJJ\
    oexJqVK04ljd4WSMyfotp3ZISKYZvfagNJv71kTsELFzxD7g4xKYBa+FthuCLf/Ld+fc0L/eI7Xe\
    ZZtX35asB+AHN6EeuaWgr4EAAAAASUVORK5CYII=') center right 15px no-repeat;
}

section#content {
  background: #EFEFEF;
  margin: 0;
  border-top: 2px solid #D9D9D9;
}
section#content input[type=submit] {
  display: block;
  border: 0px;
  border-radius: 5px;
  background: red;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding: 3px;
  margin-top: 20px;
}
body#frontpage section#content {
  border: 0px;
}
body#frontpage section#content > div,
body#showposts section#content > div {
  display: table;
  border-collapse: separate;
  border-spacing: 20px;
  padding-top: 0px;
}
section#content div#news, 
section#content div#sidebar {
  display: table-cell;
  vertical-align: top;
}
section#content > div {
  margin: 0 auto;
  width: 950px;
  padding-top: 30px;
  padding-bottom: 20px;
  position: relative;
}
section#content div article {
  display: block;
  background: white;
  border: 1px solid #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
  margin-bottom: 20px;
}
body#addpost section#content div article,
body#singlepost section#content div article,
body#about section#content div article {
  width: 100%;
}
section#content div article .itemHeader {
  padding: 20px;
  padding-left: 80px;
}
section#content div article .itemHeader a {
  text-decoration: none;
  color: black;
}
section#content div article .itemHeader.area_code {
  background: url('data:image/png;base64,\
    iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAABblBMVEXZ2dnZ2dnZ2dnZ2dnZ2dnZ\
    2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ\
    2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ\
    2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dnZ2dkAAADZ2dmurq4PDw9U\
    VFShoaGjo6MICAjMzMzU1NQNDQ1HR0dra2uMjIx4eHh9fX2CgoIfHx+SkpIhISFNTU2/v79PT0/P\
    z8/R0dEFBQXW1tYDAwNhYWEkJCQKCgqzs7O6uromJiYrKyuAgIAuLi6FhYWHh4eKiooxMTGPj484\
    ODiUlJSZmZmcnJw7OztAQECmpqarq6tCQkJFRUUXFxe9vb1KSkrCwsLFxcXHx8caGhoSEhIUFBRZ\
    WVlcXFxeXl6+zbtTAAAAOnRSTlMADQ8QERMUISIlJidNTk9QVVhZW1xfdHd4hYaHiJCRkpOwsba6\
    u8XG0NHT1NbX2Nne4OTn6+zv8P3+m/+qWAAAAetJREFUeF6VlmdXGkEUhi9sFIgmwSjGgiZZCVkS\
    QnTt76UWe+/pvfde/n0Cx8Myw51Vnq/vc+bMzN57Z0knFB20nYmpqQnHHoyGyJeO3rFJbmJyrLfD\
    KAf7M9xCpj8o290OizjdghwYmWMDcyMB3Q4n2YdkRLUjN9iXdJeydoZPIBP2bCvJJ5K0GvplPgVX\
    GjfIp+L4PoNpNXj+A4+y0nGtun5JDQo4+v2r+k3wB+p1Mq4G+dIOZ/G4lr9/gY0lLxmv1U+MTXr5\
    U257De+8KEZECU0vNjazjgLv3Ml7UYIoPM0aq8BefcmnyHIl98VLpsPUwzpbQLWefs+trbzBK/bo\
    obhZ5+wesNocxcn20bkEfG2ObHJ89LtAaV/pFHJ99E3grRK5NGPUtz4CeKVEMyZ9d/3DAYAFVnV5\
    M6V8FTW2K2rkikc95n5Rj1JkG/TcoVDEV2lY1Dee7LJAXC4CfGaRi0KJ3dM+jlJidE0Lyg8AbIp+\
    QmiPRSxVFvFa0mNC8y38rG1/2ZPU5qMBNVjGSvkvCqbWJksdHJVnAP4I9u0z4ljaf/mwyAIX2h56\
    7Y/U9gc20dmb/vatrnYem+sR0giMzpvk+dEAtXIuJdup8yRiyc+wRSY6+/RHvq+TfAlFh2zHnZ11\
    HXuo9RfiH481h7yZyM/AAAAAAElFTkSuQmCC') 20px 20px no-repeat;
}
section#content div article .itemHeader h3 {
  font-size: 18px;
}
section#content div article .itemHeader .author {
  font-size: 14px;
  color: #adadad;
}
section#content div article .body {
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #DBDBDB;
}
section#content div article#about h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
  margin-bottom: 30px;
}
section#content div article#about p {
  padding: 30px;
  padding-top: 0px;
}
article a.readmore {
  display: block;
  margin-top: 15px;
  color: red;
}
.error {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ddd;
  font-weight: 500;
  background: #f00;
  color: white;
  margin: 20px;
}
article .expiry {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px;
  background: #ddd;
  font-weight: 500;
}
article .expiry.soon {
  background: #fa0;
}
article .expiry.done {
  background: #f00;
  color: white;
}
section#content #sidebar {
  width: 220px;
}
section#content aside {
  display: block;
  background: white;
  border: 1px solid #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
  margin-bottom: 20px;
}
section#content aside h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
}
section#content aside ul {
  list-style: none;
  padding: 30px;
}
section#content aside li {
  font-size: 14px;
  list-style: none;
  margin-bottom: 3px;
}
section#content aside#categories li {
  position: relative;
}
section#content aside#categories li a {
  text-decoration: none;
  color: black;
  display: block;
}
section#content aside#categories li span {
  position: absolute;
  right: 0px;
  background: red;
  color: white;
  border-radius: 10px;
  width: 32px;
  text-align: center;
  display: inline-block;
  height: 20px;
}
#search_options form {
  padding: 20px;
}
#search_options input {
  padding: 5px;
}
#search_options ul {
  padding: 5px !important;
}
#search_options input[type=submit] {
  width: 50px;
}
#search_options form > label {
  display: block;
  margin-top: 10px;
}
article#addpost h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
  margin-bottom: 30px;
}
article#addpost form {
  padding: 30px;
  padding-top: 0px;
}
article#addpost form ul {
  list-style: none;
}
article#addpost form #tips {
  margin-top: 10px;
}
article#addpost form #tips ul {
  list-style: outside;
  margin-left: 20px;  
}
article#addpost form > label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}
article#addpost form > small {
  display: block;
}
article#addpost form input:disabled {
  background: #ccc;
}
article#addpost form input[type=text],
article#addpost form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
article#addpost form textarea {
  height: 200px;
}
article#addpost form input[type=submit] {
  width: 250px;
}
.calendar {
  background: white;
  font-size: 14px;
  margin-left: 170px;  
  border: 1px solid #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
}
.calendar td {
  cursor: pointer;
}
.calendar td:hover {
  background: #eee;
}
.calendar td, .calendar th {
  width: 25px;
  height: 20px;
  text-align: center;
}
.calendar td.selected {
  background: red;
  color: white;
}
.calendar td.otherDay {
  color: #ccc;
}
article#sendmessage h2 {
  padding: 20px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
  margin-bottom: 20px;
}
article#sendmessage textarea {
  margin: 20px;
  width: calc(100% - 40px);
  height: 200px;
  display: block;
  padding: 10px;
}
article#sendmessage input[type=submit] {
  width: 250px;
  margin: 20px;
}
article#singlepost .body a[target=_blank] {
  background: url('data:image/gif;base64,\
    R0lGODlhCwALALMAANjY2OLi4tnZ2e7u7sDAwOPj4+vr68zMzP///1FMTAAAAAAAAAAAAAAAAAAA\
    AAAAACH5BAAAAAAALAAAAAALAAsAAAQmECGTqq0yJMlRGgWwXR4pYZh3qum4tt25lZcVe8Qh3skh\
    1wmBJAIAOw==') right center no-repeat;
  display: inline-block;
  padding-right: 16px;
}
aside#addnewpost_bumper a {
  margin: 20px;
  background: red;
  border-radius: 10px;
  color: white;
  display: block;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
footer {
  height: 100px;
  clear: both;
  border-top: 2px solid #D9D9D9;
}
footer > div {
  margin: 0 auto;
  width: 950px;
  clear: both;
  position: relative;
}
footer > div p {
  color: #bdc3c8;
  margin-top: 20px;
}
footer div#sceneorg {
  position: absolute;
  top: 10px;
  right: 0px;
}
footer div#sceneorg a {
  vertical-align: middle;
  display: inline-block;
  width: 96px;
  height: 58px;
  text-ident: 100px;
  overflow: hidden;
  color: transparent;
  background: url("sceneorg.png") no-repeat;
}
