@import url(http://fonts.googleapis.com/css?family=Roboto:400,500,700,900);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body
{
  background: white;
  color: #2d2d2d;
  font-family: "Roboto", Arial, sans-serif;
}
input, textarea, select {
  font-family: "Roboto", Arial, sans-serif;
}
header {
  width: 950px;
  margin: 0 auto;
  position: relative;
  height: 85px;
  background: white url(logo.png) center left 10px no-repeat;
}

header h1 {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  left: 70px;
  top: 10px;
}
header h1 a {
  color: black;
  text-decoration: none;
}
header small {
  position: absolute;
  left: 70px;
  top: 50px;
  font-size: 12px;
}
header form#search {
  background: #EFEFEF;
  border-radius: 5px;
  position: absolute;
  right: 0px;
  top: 25px;
  padding: 5px;
}
header form#search input {
  border: 0px;
  color: #9C9C9C;
  background: #EFEFEF;
  font-family: "Roboto", Arial, sans-serif;
}
header form#search input[type=submit] {
  color: #000;
}
section#bumper {
  clear:both;
  background: #2d2d2d;
  color: white;
  height: 270px;
  margin: 0;
}

section#bumper > div {
  margin: 0 auto;
  width: 950px;
}

section#bumper > div article {
  display: table-cell;
  height: 270px;
  width: 320px;
  padding: 10px;
}

section#bumper > div article h2 {
  text-transform: uppercase;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 36px;
  font-weight: 700;
}

section#bumper > div article p {
  max-width: 250px;
  font-size: 16px;
}

section#bumper > div article a {
  display: block;
  color: white;
  border-radius: 10px;
  text-decoration: none;
  padding: 10px 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 20px;
  width: 165px;
  background: red url(thumb.png) center right 15px no-repeat;
}

section#content {
  background: #EFEFEF;
  margin: 0;
  border-top: 2px solid #D9D9D9;
}
body#frontpage section#content {
  border: 0px;
}
section#content > div {
  margin: 0 auto;
  width: 950px;
  padding-top: 40px;
  padding-bottom: 20px;
  position: relative;
}
body#frontpage section#content > div {
  min-height: 250px;
}
body#showposts section#content > div {
  min-height: 550px;
}
section#content div article {
  display: block;
  width: 700px;
  background: white;
  border: 1px solid #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
  margin-bottom: 20px;
}
body#addpost section#content div article,
body#singlepost section#content div article {
  width: 100%;
}
section#content div article .itemHeader {
  padding: 20px;
  padding-left: 80px;
  background: url(code.png) 20px 20px no-repeat;
}
section#content div article .itemHeader h3 {
  font-size: 18px;
}
section#content div article .itemHeader .author {
  font-size: 14px;
  color: #adadad;
}
section#content div article .body {
  font-size: 14px;
  padding: 20px;
  border-top: 1px solid #DBDBDB;
}
section#content div article#about h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
  margin-bottom: 30px;
}
section#content div article#about p {
  padding: 30px;
  padding-top: 0px;
}

section#content aside {
  display: block;
  background: white;
  border: 1px solid #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
  width: 220px;
  position: absolute;
  top: 40px;
  right: 0px;
}
section#content aside h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
}
section#content aside ul {
  list-style: none;
  padding: 30px;
}
section#content aside li {
  font-size: 14px;
  list-style: none;
  position: relative;
  margin-bottom: 3px;
}
section#content aside li a {
  text-decoration: none;
  color: black;
  width: 200px;
  display: block;
}
section#content aside li span {
  position: absolute;
  right: 0px;
  background: red;
  color: white;
  border-radius: 10px;
  width: 32px;
  text-align: center;
  display: inline-block;
  height: 20px;
}
#search_options form {
  padding: 20px;
}
#search_options input {
  padding: 5px;
}
#search_options ul {
  padding: 5px !important;
}
#search_options input[type=submit] {
  display: block;
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
  background: red;
  color: white;
  text-transform: uppercase;
  width: 50px;
  font-size: 16px;
  font-weight: bold;
}
#search_options form > label {
    display: block;
    margin-top: 10px;
}
article#addpost h2 {
  padding: 30px;
  text-transform: uppercase;
  border-bottom: 1px solid #DBDBDB;
  font-size: 18px;
  margin-bottom: 30px;
}
article#addpost form {
  padding: 30px;
  padding-top: 0px;
}
article#addpost form ul {
  list-style: none;
}
article#addpost form #tips {
  margin-top: 10px;
}
article#addpost form #tips ul {
  list-style: outside;
  margin-left: 20px;  
}
article#addpost form > label {
  display: block;
  margin-top: 20px;
  font-weight: bold;
}
article#addpost form > small {
  display: block;
}
article#addpost form input:disabled {
  background: #ccc;
}
article#addpost form input[type=text],
article#addpost form textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
article#addpost form textarea {
  height: 200px;
}
article#addpost form input[type=submit] {
  display: block;
  margin-top: 10px;
  border: 0px;
  border-radius: 5px;
  background: red;
  color: white;
  text-transform: uppercase;
  width: 250px;
  font-size: 16px;
  font-weight: bold;
}
.calendar {
  background: white;
  font-size: 14px;
  margin-left: 170px;  
  border: 1px solid #DBDBDB;
  box-shadow: 2px 2px 2px #DBDBDB;
}
.calendar td {
  cursor: pointer;
}
.calendar td:hover {
  background: #eee;
}
.calendar td, .calendar th {
  width: 25px;
  height: 20px;
  text-align: center;
}
.calendar td.selected {
  background: red;
  color: white;
}
.calendar td.otherDay {
  color: #ccc;
}
footer {
  height: 100px;
  clear: both;
  border-top: 2px solid #D9D9D9;
}
footer > div {
  margin: 0 auto;
  width: 950px;
  clear: both;
  position: relative;
}
footer > div p {
  color: #bdc3c8;
  margin-top: 20px;
}
footer div#sceneorg {
  position: absolute;
  top: 10px;
  right: 0px;
}
footer div#sceneorg a {
  vertical-align: middle;
  display: inline-block;
  width: 96px;
  height: 58px;
  text-ident: 100px;
  overflow: hidden;
  color: transparent;
  background: url("sceneorg.png") no-repeat;
}
